.vscode/**
.vscode-test/**
src/**
.gitignore
tsconfig.json
tsconfig.jest.json
jest.config.js
webpack.config.js
turbo.json
.github/**
.agent/**
.devcontainer/**
.turbo/**
.pnpm-store/**
node_modules/**
out/**
**/*.map
test.mm
